.shopTitle {
  margin-top: 100px;
  text-align: center;
  font-size: 42px;
}
.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
.product {
  border: 1px solid black;
  border-radius: 15px;
  width: 16vw;
  height: 24vw;
  margin: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  flex-direction: column;
}
.product img {
  width: 165px;
}
.product .description {
  text-align: center;
}
.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}
.addToBtn {
  background-color: transparent;
  border: 2px solid black;
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-radius: 15px;
}
.addToBtn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
